footer {
  height: 50px;
  margin-top: 60px;
  color: rgba(168, 159, 159, 0.664);
  font-size: 1.2rem;
  text-align: center;
  padding-top: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  position: relative;
  float: bottom;
}
footer a {
  color: rgb(179, 109, 179);
  text-decoration: none;
}
img {
  display: block;
  position: relative;
  float: left;
  width: 70px;
  top: -15px;
  left: 10px;
}

@media only screen and (max-width: 968px) {
  img {
    display: none;
  }
}
